/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300;400;700&display=swap');
* {
    font-family: 'IBM Plex Sans KR', sans-serif;
    box-sizing: border-box;
}

:root {
    --primary-color: #424A34;
    --secondary-color: #707E58;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background-color: var(--primary-color);
    margin: 0;
}

header {
    padding: 1rem;
    /* display: flex;
    justify-content: flex-end; */
    background-color: var(--secondary-color);
    height: 5rem;
}

header h1 {
    color: white;
    float: left;
    margin: 0px auto auto 10px;
}

.search {
    background-color: transparent;
    margin: 0px 10px auto auto;
    border: 2px solid var(--primary-color);
    padding: 0.5rem 1rem;
    border-radius: 50px;
    font-size: 1rem;
    color: white;
    float: right;
}

.search:focus {
    outline: 0;
    background-color: var(--primary-color);
}

.search::placeholder {
    color: white;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

.movie {
    width: 300px;
    margin: 1rem;
    border-radius: 3px;
    box-shadow: 0.2px 4px 5px rgba(0, 0, 0, 0.1);
    background-color: var(--secondary-color);
    position: relative;
    overflow: hidden;
}

.movie img {
    width: 100%;
}

.movie-info {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.movie-info h3 {
    margin-top: 0;
}

.movie-info span {
    background-color: var(--primary-color);
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
}

.movie-info span.rate {
    color: white;
}

.overview {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    max-height: 100%;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
}

.movie:hover .overview {
    transform: translateY(0);
}

.movie:hover img {
    opacity: 0.5;
}